docutils==0.12
Sphinx==1.4.9
sphinx_rtd_theme
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
